<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.migo.mapper.TbItemparamexdMapper">



    <select id="selectList" parameterType="Integer" resultType="com.migo.extendspojo.TbItemParamexd">
       select
         a.id id ,a.item_cat_id itemCatId,a.created created,a.updated updated,a.param_data paramData,b.`name` itemCatName
        FROM
        tb_item_param AS a LEFT JOIN  tb_item_cat  as b
        ON
        a.item_cat_id=b.id
    </select>
</mapper>